@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Connector line antd */
.ant-steps-item.ant-steps-item-wait.spajItem .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title::after, 

.ant-steps-item.ant-steps-item-process.spajItem .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title::after, 
.ant-steps-item.ant-steps-item-error.spajItem .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title::after {
  background-color: blue !important;
  display: block;
}
.ant-steps-item.ant-steps-item-wait.illusItem .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title::after, 
.ant-steps-item.ant-steps-item-process.illusItem .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title::after, 
.ant-steps-item.ant-steps-item-error.illusItem .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title::after {
  background-color: blue !important;
  display: block;
}


